// 所有内容的样式库
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background: #181818;
  }
  
  .card {
    width: 300px;
    margin: 20px;
    background: #202020;
    color: white;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card .info {
    padding: 10px;
    width: 100%;
  }
  .card .info .span{
    width: 50%;
    padding-bottom: 10px;
  }
  
  .card .info h3,
  .card .info p {
    margin: 10px 0;
    display: block;
  }
  
  .card .actions {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #303030;
  }
  
  .card .actions button {
    margin: 0 5px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
  }